.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-cog:before {
  content: "\f013";
}

.fa-image:before {
  content: "\f03e";
}

.fa-edit:before {
  content: "\f044";
}

body, div, ul, li, h2, form, input, p {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}

ul {
  list-style: none;
}

h2 {
  font-size: 100%;
  font-weight: normal;
}

input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
}

.flash-box {
  color: $white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
  .notice {
    background-color: $skyblue;
  }
}

*::-webkit-scrollbar {
  display: none;
}

.chat-side {
  width: 300px;
  color: $white;
  float: left;
  a {
    color: $white;
  }
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  .side-header__box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: bold;
  }
  .side-header__box__menu {
    display: flex;
    li {
      margin-left: 0.3rem;
    }
  }
  .groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    .group {
      margin-bottom: 40px;
    }
    .group__group-name {
      font-size: 15px;
      margin-bottom: 5px;
    }
    .group__latest-message {
      font-size: 11px;
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;
  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;
  }
  .main-header__left-box {
    margin-top: 35px;
  }
  .main-header__left-box__current-group {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
  }
  .main-header__left-box__member-list {
    display: flex;
    font-size: 12px;
    color: #999999;
    li + li {
      margin-left: 0.3rem;
    }
  }
  .main-header__edit-btn {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 30px;
    border: solid 1px $skyblue;
    position: absolute;
    right: 40px;
  }
  .main-header a {
    color: $skyblue;
    &:visited, &:hover, &:active {
      color: $skyblue;
    }
  }
  .messages {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message {
      padding-bottom: 40px;
    }
    .message__upper-info {
      display: flex;
      margin-bottom: 10px;
    }
    .message__upper-info__talker {
      color: $darkgray;
      font-size: 16px;
      font-weight: bold;
    }
    .message__upper-info__date {
      color: #999999;
      font-size: 12px;
      margin-left: 10px;
    }
    .message__text {
      color: $darkgray;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    form {
      display: flex;
      .input-box {
        position: relative;
        width: 100%;
      }
      .input-box__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: $darkgray;
        border-style: none;
      }
      .input-box__image {
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
      .input-box__image__file {
        display: none;
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: $skyblue;
        color: $white;
        cursor: pointer;
      }
    }
  }
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}